.font-test-family {
  font-family: Chilanka;
}

.h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 69px;
}

.btn09 {
  width: 326px;
  height: 56px;
  background-color: #fe3756;
  border: 1px solid #FE3756;
  border-radius: 8px;
}
